@import "tailwindcss"; 

html, body {
  color: #fff;
  background-color: #121213;
}

main {
  background: #000000;
  height: 100vh;
  height: 100dvh;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  background-color: var(--color-blue-500);
}

@layer utilities {
  .text-balance {
    word-break: break-word;
  }
}
